<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sourcewebteam.mapper.TPostMapper">
    <update id="updatePostById">
        update t_post set
            title = #{title},
            content = #{content},
            tag = #{tag},
            summary = #{summary},
            type = #{type},
            creator_id = #{creatorId},
        <if test="image!=null"> image = #{image}, </if>
        <if test="video!=null"> video = #{video}, </if>
        <if test="isDeleted!=null"> is_deleted = #{isDeleted}, </if>
        <if test="hits!=null"> hits = #{hits}, </if>
        <if test="favorites!=null"> favorites = #{favorites}, </if>
        <if test="createTime!=null"> create_time = #{createTime}, </if>
        <if test="modifiedTime!=null"> modified_time = #{modifiedTime}, </if>
        <if test="agree!=null"> agree = #{agree}, </if>
        <if test="disagree!=null"> disagree = #{disagree}, </if>
        <if test="commentCount!=null"> comment_count = #{commentCount} </if>
        where id = #{id}
    </update>
</mapper>