<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sourcewebteam.mapper.TUserMapper">

    <update id="updateAvatarByUid">
        update t_user set
                        avatar = #{avatar},
                        modified_user=#{modifiedUser},
                        modified_time=#{modifiedTime}
        where uid = #{uid}
    </update>
</mapper>